body {
    background-image: url('https://images5.alphacoders.com/686/686723.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
input
{
    color:white;
    background-color: palevioletred;
    border-radius: 5px;
}
form{
    color:rgb(0, 0, 30);
    opacity: 2px;
    text-align: center;
    margin: 0 auto;
    width: 500px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    font-size: large;
    font-weight: bold;
}
.navbar-brand>img {
    height: 35px;
    width: 60px;
}

